body {
  background-image: url(background.png)
}

.header {
  text-align: center;
}

.screen-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#screen {
  flex: 0 0 auto;
  border: 1px solid black;
  width: 640px;
  height: 480px;
}


.controlls-container {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.controlls {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}

.start-button {
  margin-bottom: 10px;
}

.manual-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.manual {
  width: 80%;
}
